@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700&display=swap');

h2 {
  color: #333;
  font-weight: 500;
  font-size: 30px;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;

  text-align: center;
}

h3 {
  color: #333;
  font-weight: 500;
  font-size: 20px;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;

  text-align: left;
  color: cornflowerblue;
}

body {
  display: flex;
  justify-content: center;
  
  width: 100%;
}

.container {
  max-width: 950px;

  font-family:'Montserrat', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.list__items {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-inline-start: 0px;

  width: 100%;
}

.list__current{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.input__text {
  font-family:'Montserrat', sans-serif;

  padding-left: 10px;
  min-width: 40vw;
  min-height: 30px;
  margin-right: 1vw;
}

.input__filter {
  height: 37px;
  width: 20vw;
}

.input_edit {
  font-family:'Montserrat', sans-serif;

  padding-left: 10px;

  min-width: 30vw;
  min-height: 20px;
}

button {
  font-family:'Montserrat', sans-serif;

  height: 37px;
  width: 20vw;
  margin-right: 1vw;
}

.items__item {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item__check {
  min-width: 5vw;
  min-height: 25px;

  margin-right: 30px;  
}

.item__text {
  padding-left: 10px;
  padding-right: 10px;
}

.item__buttons {
  display: flex;
  
  margin-left: 30px;
}

.buttons__edit {
  width: 10vw;
  height: 25px;

  min-width: 45px;
}

.buttons__delete {
  color: red;

  font-family:'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;

  width: 5vw;
  min-width: 30px;
  height: 25px;
}

.number {
  color: darkcyan;
}

.taskDone {
  color: grey;
  text-decoration: line-through;
}