@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700&display=swap');

h2 {
  color: #333;
  font-family:'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 30px;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;

  text-align: center;
}

h3 {
  color: #333;
  font-family:'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;

  text-align: left;
  color: cornflowerblue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 70vw;
}

.list__items {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.list__current{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.input__text {
  width: 40vw;
  height: 30px;
  margin-right: 1vw;
}

button {
  height: 37px;
  width: 20vw;
}

.items__item {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item__delete-button {
  color: red;

  font-family:'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;

  width: 5vw;
  height: 25px;
}

.item__check {
  width: 5vw;
  height: 25px;
}

.number {
  color: darkcyan;
}

.taskDone {
  color: grey;
  text-decoration: line-through;
}